
<div class="container">
    <hr>
    <h2 style="text-align: center;margin-top: 20PX;">Appointment Dashboard</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;">
        <marquee behavior="scroll" direction="left">
            Welcome to Appointment Dashboard. Please find the appointment list below!!. Click Appointments to view and update
            Appointments, Click Add Appointment to add new Appointment</marquee>
    </a>
    <hr>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <mat-form-field appearance="outline" class="w-25">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search appointments">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="openAddAppointmentDialog()">
            + Add Appointment
        </button>
    </div>
    <br>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Appointmenent List in the Queue</a>
    <div class="tableFixHead">
        <br>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Symtomps</th>
                    <th scope="col">Number</th>
                </tr>
            </thead>
            <tbody>
                @for (appointment of appointments(); track trackByAppointmentId) {
                    <tr>
                        <th scope="row">{{appointment.id}}</th>
                        <td>{{appointment.name}}</td>
                        <td>{{appointment.age}}</td>
                        <td>{{appointment.symtomps}}</td>
                        <td>{{appointment.number}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>