<mat-sidenav-container class="vh-100">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" [(opened)]="isExpanded" class="bg-light border-end" [style.width.px]="isExpanded ? 200 : 60">
    <div class="d-flex flex-column h-100">
      <!-- Menu Header -->
      <div class="p-3 border-bottom fw-bold text-center">
        <span *ngIf="isExpanded">Menu</span>
        <mat-icon *ngIf="!isExpanded">menu</mat-icon>
      </div>

      <!-- Navigation Items -->
      <mat-nav-list class="flex-grow-1">
        <a *ngFor="let item of menuItems"
           mat-list-item
           [routerLink]="item.link"
           class="d-flex align-items-center">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="isExpanded" class="ms-2">{{ item.label }}</span>
        </a>
      </mat-nav-list>

      <!-- Logout -->
      <div class="p-3 border-top">
        <a mat-list-item (click)="logout()" class="d-flex align-items-center text-danger fw-bold">
          <mat-icon class="text-danger">logout</mat-icon>
          <span *ngIf="isExpanded" class="ms-2">Logout</span>
        </a>
      </div>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <button mat-icon-button (click)="toggleMenu()">
          <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
        </button>
        <span class="ms-2 fw-bold">Hospital Management</span>
      </div>
    </mat-toolbar>

    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
