<div class="container">
    <div class="pt-4 pb-4">
        <mat-card class="dashboard-header">
            <h2>📅 Admin Dashboard</h2>
            <p class="welcome-text">
                Welcome to Admin Dashboard. Please find the patient list below!
            </p>
            <div class="scroll-text">
                <span>
                    ✏️ Click <b>Update Patient</b> to update patients. |
                    ➕ Click <b>Add Patient</b> to add a new one.
                </span>
            </div>
        </mat-card>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <mat-form-field appearance="outline" class="w-25">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search patients">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="openAddPatientDialog()">
            + Add Patient
        </button>
    </div>
    <br>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Patient List in the Queue</a>
    <div class="tableFixHead">
        <br>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Blood</th>
                    <th scope="col">Prescription</th>
                    <th scope="col">Dose</th>
                    <th scope="col">Urgency</th>
                    <th scope="col">Fees</th>
                </tr>
            </thead>
            <tbody>
                @for (patient of patients(); track trackByPatientId) {
                    <tr>
                        <th scope="row">{{patient.id}}</th>
                        <td>{{patient.name}}</td>
                        <td>{{patient.age}}</td>
                        <td>{{patient.blood}}</td>
                        <td>{{patient.prescription}}</td>
                        <td>{{patient.dose}}</td>
                        <td>{{patient.urgency}}</td>
                        <td>{{patient.fees}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>